<!-- Bootstrap form
  Date: 2/23/21
  Copied from
  Source URL: https://getbootstrap.com/docs/4.0/components/forms/-->
<h3 style="margin-left: 10px;">Add Order</h3>
<p style="margin-left: 10px;">Note: Adding a product_id that is not in the database will make an empty order.</p>
<div class="newWindow">
  <form id="productOrderAdd">
    <div class="form-row">
      <div class="col-7">
        <label>Customer</label>
          <select class="form-control" name="cid">
            <option value = ""></option>
            {{#each customerList}}
            <option value = "{{this.customer_id}}">{{{this.first_name}}} {{{this.last_name}}}</option>
            {{/each}}
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-7">
        <label>Store</label>
          <select class="form-control" name="sid">
            <option value = ""></option>
            {{#each storeList}}
            <option value = "{{this.store_id}}">{{{this.store_name}}}</option>
            {{/each}}
          </select>
      </div>
    </div>
      <div class="form-row">
        <div class="col-7">
          <label>Order Date</label>
            <input type="date" class="form-control" name="orderDate" required>
        </div>
      </div>
    <div class="form-row">
      <div class="col">
        <label>Product Id</label>
        <input type="number" class="form-control" name="pid" min="1" required>
      </div>
      <div class="col">
        <label>Qty</label>
        <input type="number" class="form-control" name="qty" required>
      </div>
    </div>
  </form><br>
  <button class="btn btn-primary" id="addProductButton">Add Product</button>
  <button class="btn btn-primary" id="deleteProductButton">Delete Product</button><br>
  <button form="productOrderAdd" class="btn btn-primary" id="addOrderSubmitButton" type="submit" name="submit" style="margin-top:10px">Submit</button>
</div>
<button class="btn btn-secondary" id="closeWindowButton" style="float:right; margin-right:10px;">Close</button>
