<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<p>Customers and Products Page</p>
<p>Displays the most popular product by each age group (<20, 20-29, 30-39, etc)
  <br>(M:M Orders and Products, 1:M Customers and Orders)</p>


  <h2>Select Age Group</h2>                                      
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Age Group
    <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Under 20</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">20-29</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">30-39</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">40-49</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50-59</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">60-69</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">70+</a></li>
    </ul>
  </div>

<br>


<!-- read/update/delete data -->
  <table class="table table-striped table-bordered" id="reportCP">
    <thead>
      <tr>
        <th>Customer Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Product</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
    {{#each customers}}
      <tr>
        <td>{{customer_id}}</td>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{product_name}}</td>
        <td>{{Total}}</td>
      </tr>
    {{/each}}
  
    </tbody>
  </table>

