<h1>Customers and Products</h1>
<p>Displays the quantity and the sales total of products sold by a selected age group.<br>
The <b>most sold product</b> placed on the top of the table below.</p>
<div class="form">
  <form action="/customers_products" method="POST">
    <fieldset>
      <legend>Select Age Group</legend>
      <div class="form-row">
        <div class="col-4">
          <select class="form-control" name="ageGroup">
            <option value="0,19">Under 20</option>
            <option value="20,29">20-29</option>
            <option value="30,39">30-39</option>
            <option value="40,49">40-49</option>
            <option value="50,59">50-59</option>
            <option value="60,69">60-69</option>
            <option value="70,120">Over 70</option>
          </select>
        </div>
        <input class="btn btn-secondary btn-sm" type="submit" value="Select">
      </div>
    </fieldset>
  </form>
</div>
<h5>Age Group Selected: {{ageGroup}}</h5>
<!-- read data -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Quantity Sold</th>
        <th>Sales Total</th>
      </tr>
    </thead>
    <tbody>
    {{#each customers}}
      <tr>
        <td>{{product_id}}</td>
        <td>{{{product_name}}}</td>
        <td>{{total}}</td>
        <td>${{total_price}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
