<!-- Add Data -->
<div class="form">
  <fieldset>
    <legend>Add Customer</legend>
    {{!-- <form method="post" class="addForm">
      <input type="text" id="customerFName" placeholder="First Name">
      <input type="text" id="customerLName" placeholder="Last Name">
      <input type="text" id="customerBday" placeholder="Birthday">
      <input type="text" id="customerRday" placeholder="Registered Date">
      <input type="submit" id="addCustomerSubmit" value="Submit"> --}}
      <form id="addCustomer" action="/customers" method="post">
        <input type="text" name="first_name" placeholder="Firt Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <input type="text" name="birthdate" placeholder="Birthdate YYYY-MM-DD">
        <input type="submit" value="Submit">
      </form>
  </fieldset>
</div>





<!-- Search -->
<div class="form">
  <fieldset>
    <legend>Search Customer</legend>
    <form method="get" class="searchForm">
      <input type="text" id="custerFNameSearch" placeholder="First Name">
      <input type="text" id="custerLNameSearch" placeholder="Last Name">
      <input type="text" id="custerBdayFrom" placeholder="Birthdate From">
      <input type="text" id="custerBdayTo" placeholder="Birthdate To">
      <!-- <input type="text" id="custerRdayFrom" placeholder="Registered Date From">
      <input type="text" id="custerRdayTo" placeholder="Registered Date To"> -->
      <input type="submit" id="searchCustomerSubmit" value="Search">
    </form>
  </fieldset>
</div>

<!-- read/update/delete data -->
<table class="table table-striped table-bordered" id="customertable">
  <thead>
    <tr>
      <th>Customer Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthdate</th>
      <!-- <th>Registered Date</th> -->
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- Render data here -->
    {{#each customers}}
      <tr>
        <td>{{customer_id}}</td>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{birthdate}}</td>


        {{!-- <td><form id="{{this.id}}">{{this.id}}</form></td>
        <td><input form="{{this.id}}" type="text" name="fname" value="{{this.fname}}" disabled></td>
        <td><input form="{{this.id}}" type="text" name="lname" value="{{this.lname}}" disabled></td>
        <td><input form="{{this.id}}" type="date" name="birthdate" value="{{this.birthdate}}" disabled></td> --}}
        <!-- <td><input form="{{this.id}}" type="date" name="birthdate" value="{{this.rDate}}" disabled></td> -->
        <td><button form="{{this.id}}" value="Update">Update</button></td>
        <td><button form="{{this.id}}" value="Delete">Delete</button></td>
      </tr>
    {{/each}}
