<h5>Order ID: {{orderId}}</h5>
<table class="table table-striped table-bordered" id="orderproducttable">
  <thead>
  <tr>
    <th>Product Id</th>
    <th>Qty</th>
    <th>Price</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    {{#each inputList}}
    <tr>
      <td><form id="{{this.id}}"><input type="text" name="prodId" value="{{this.prodId}}" disabled></td> <!-- id should be pk for the table, orderId + ProductId -->
      <td><input form="{{this.id}}" type="text" name="qty" value="{{this.qty}}" disabled></td>
      <td>${{this.total_price}}</td>
      <td><button form="{{this.id}}" name="update" value="{{this.id}}">Update</button></td>
      <td><button form="{{this.id}}" name="delete" value="{{this.id}}">Delete</button></td>
    </tr>
    {{/each}}
    <tr>
      <td colspan="2"><b>Total Price</b></td>
      <td colspan="3"><b>${{grandTotal}}</b></td>
    </tr>
  </tbody>
</table>
<button id="closeOrderDetails" style="float:right;">Close</button>
