<!-- Add Data -->
<div class="form">
  <fieldset>
    <legend>Add Order</legend>
    <a href="" onclick="openAddOrder()">Click here to add an order.</a>
  </fieldset>
</div>

<!-- Search -->
<div class="form">
  <fieldset>
    <legend>Search Order</legend>
    <form method="POST">
      <input type="text" name="orderId" placeholder="Order Id">
      <input type="submit" value="submit">
    </form>
  </fieldset>
</div>

<!-- read/update/delete data -->
<p><b>Click 'Order Details' to edit the order.</b></p>
<table class="table table-striped table-bordered" id="orderTable">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Customer Id</th>
      <th>Store Id</th>
      <th>Order Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each inputList}}
      <tr>
        <td>{{this.order_id}}</td>
        <td>{{this.cid}}</td>
        <td>{{this.sid}}</td>
        <td>{{this.order_date}}</td>
        <td><button name="details" value="{{this.order_id}}">Order Details</td>
        <td><button name="delete" value="{{this.order_id}}">Delete</td>
      </tr>
    {{/each}}
  </tbody>
</table>


</div>
