<h5>Order ID: {{orderId}}</h5>
<table class="table table-striped table-bordered" id="orderProductTable">
  <thead>
  <tr>
    <th>Product Id</th>
    <th>Product Name</th>
    <th>Qty</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
    {{#each inputList}}
    <tr>
      <td>{{this.prodId}}</td>
      <td>{{this.prodName}}</td>
      <td>{{this.qty}}</td>
      <td>${{this.total_price}}</td>
    </tr>
    {{/each}}
    <tr>
      <td><b>Total Price</b></td>
      <td colspan="3"><b>${{grandTotal}}</b></td>
    </tr>
  </tbody>
</table>
<button id="closeOrderDetails" class="btn btn-secondary" style="float:right;">Close</button>
