<!-- Add Data -->
<div class="add">
  <fieldset>
    <legend>Add Order</legend>
    <a href="add_order.html" target="_blank">Click here to open a new window to add an order.</a>
  </fieldset>
</div>

<!-- Search -->
<div class="search">
  <fieldset>
    <form method="get" class="searchForm">
      <input type="text" id="orderIdSearch" placeholder="Order Id">
      <input type="text" id="storeIdSearch" placeholder="Store Id">
      <input type="text" id="customerIdSearch" placeholder="Customer Id">
      <input type="submit" id="searchOrderSubmit" value="Search">
    </form>
  </fieldset>
</div>

<!-- read/update/delete data -->
<table class="table table-striped table-bordered" id="ordertable">
  <thead>
    <tr>
      <th>Order Id</th>
      <th>Customer Id</th>
      <th>Store Id</th>
      <th>Order Date</th>
      <th></th>  <!-- Order Details -->
      <th></th>  <!-- Update -->
      <th></th>  <!-- Delete -->
    </tr>
  </thead>
  <tbody id="ordertbody">
    {{#each orderList}}
      <tr>
        <td><form id="{{this.id}}">{{this.id}}</form></td>
        <td><input form="{{this.id}}" type="text" name="custId" value="{{this.custId}}" disabled></td>
        <td><input form="{{this.id}}" type="text" name="storeId" value="{{this.storeId}}" disabled></td>
        <td><input form="{{this.id}}" type="date" name="orderDate" value="{{this.orderDate}}" disabled></td>
        <td><button form="{{this.id}}" value="Update">Update</button></td>
        <td><button form="{{this.id}}" value="Delete">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
