<h1>Stores and Products</h1>
<p>Displays how many of a selected product sold at each store so far.</p>
<div class="form">
  <form action="/stores_products" method="POST">
    <fieldset>
      <legend>Select Product</legend>
      <div class="form-row">
        <div class="col-4">
          <select class="form-control" name="storeProd">
            {{#each products}}
            <option value="{{this.product_id}}">{{this.product_name}}</option>
            {{/each}}
          </select>
        </div>
        <input class="btn btn-secondary btn-sm" type="submit" value="Search">
      </div>
    </fieldset>
  </form>
</div>
<h5>Product Selected: {{product_name}}</h5>
<!-- read data -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Store Id</th>
        <th>Store Name</th>
        <th>Product Name</th>
        <th>Quantity Sold</th>
      </tr>
    </thead>
    <tbody>
    {{#each stores}}
      <tr>
        <td>{{store_id}}</td>
        <td>{{store_name}}</td>
        <td>{{product_name}}</td>
        <td>{{total}}</td>
      </tr>
    {{/each}}
    </tbody>
  </table>
