<div class="form">
  <fieldset>
    <legend>Add Store</legend>
    <form method="POST" action="/stores/insert">
      <input type="text" name="storeName" placeholder="Store Name">
      <input type="text" name="streetAddress" placeholder="Street Address">
      <input type="text" name="state" placeholder="State">
      <input type="text" name="zipCode" placeholder="Zip Code">
      <input class="btn btn-secondary btn-sm" type="submit" value="Submit">
     </form>
  </fieldset>
</div>

<div class="form">
  <fieldset>
    <legend>Search Store</legend>
    <form method='POST' action='/stores'>
      <input type="text" name="storeName" placeholder="Store Name">
      <input class="btn btn-secondary btn-sm" type="submit" value="Search">
    </form>
  </fieldset>
</div>

<!-- read/update/delete data -->
  <table class="table table-striped table-bordered" id="storeTable">
    <thead>
      <tr>
        <th>Store Id</th>
        <th>Store Name</th>
        <th>Street Address</th>
        <th>State</th>
        <th>Zip Code</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

    {{#each inputList}}
      <tr>
        <td><form id="{{this.store_id}}">{{this.store_id}}</form></td>
        <td><input form="{{this.store_id}}" type="text" class="input{{this.store_id}}" name="storeName" value="{{this.store_name}}" disabled required></td>
        <td><input form="{{this.store_id}}" type="text" class="input{{this.store_id}}" name="streetAddress" value="{{this.street_address}}" disabled required></td>
        <td><input form="{{this.store_id}}" type="text" class="input{{this.store_id}}" name="state" value="{{this.state}}" disabled required></td>
        <td><input form="{{this.store_id}}" type="text" class="input{{this.store_id}}" name="zipCode" value="{{this.zip_code}}" disabled required></td>

        <td><button form="{{this.store_id}}" class="btn btn-primary input{{this.store_id}}" name="update" value="{{this.store_id}}">Update</button></td>
        <td><button form="{{this.store_id}}" class="btn btn-primary" name="delete" value="{{this.store_id}}">Delete</button></td>
      </tr>
    {{/each}}

    </tbody>
  </table>
