<html>
<!-- Add data -->
<div class="form">
  <fieldset>
    <legend>Add Store</legend>
      <form id="addStore" action="/stores" method="post">
        <input type="text" name="store_name" placeholder="Store Name">
        <input type="text" name="street_address" placeholder="Street Address">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="zip_code" placeholder="Zip Code">
        <input type="submit" value="Submit">
      </form>
  </fieldset>
</div>


<!-- Search data-->

<div class="form">

  <fieldset>
    <form id='search_store' action='' method=''></form>
    <legend>Search Store</legend>
    <div>
      <input id='store_name' type='text' placeholder="Store Name" name='store_name' value=''>
      <input id='state' type='text' placeholder="State" name='state' value=''>
      <input id="search" type="button" value="Search" onclick="searchStore()">

      </form>
  </fieldset>

</div>
<script>
  function searchStore() {
    var storeName = document.getElementById('store_name').value + document.getElementById('state').value;
    window.location = '/stores/search/' + encodeURI(storeName); 
  }
</script>


<!-- read/update/delete data -->
  <table class="table table-striped table-bordered" id="storetable">
    <thead>
      <tr>
        <th>Store Id</th>
        <th>Store Name</th>
        <th>Street Address</th>
        <th>State</th>
        <th>Zip Code</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each stores}}
      <tr>
        <td>{{store_id}}</td>
        <td>{{store_name}}</td>
        <td>{{street_address}}</td>
        <td>{{state}}</td>
        <td>{{zip_code}}</td>
        <td><button onclick="deleteStore({{id}})">Delete</button></td>
        <td><button form="{{this.store_id}}" value="Update">Update</button></td>
      </tr>
    {{/each}}

    </tbody>
  </table>
</html>
