<html>
<!-- Add data -->
<div class="form">
  <fieldset>
    <legend>Add Store</legend>

    {{!-- <form id="addStore" action="/stores" method="post">
      Store Name: <input type="text" name="store_name">
      Street Address: <input type="text" name="street_address">
      State: <input type="text" name="state">
      Zip Code: <input type="text" name="zip_code">
      <input type="submit" value="Submit"> --}}
      <form id="addStore" action="/stores" method="post">
        <input type="text" name="store_name" placeholder="Store Name">
        <input type="text" name="street_address" placeholder="Street Address">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="zip_code" placeholder="Zip Code">
        <input type="submit" value="Submit">
      </form>
  </fieldset>
</div>


<!-- Search data-->
<div class="form">
  <fieldset>
    <legend>Search Store</legend>
    <form method="get" class="searchForm">
      <input type="text" id="storeNameSearch" placeholder="Store Name">
      <input type="submit" id="searchStoreSubmit" value="Search">
    </form>
  </fieldset>
</div>

<!-- read/update/delete data -->
  <table class="table table-striped table-bordered" id="storetable">
    <thead>
      <tr>
        <th>Store Id</th>
        <th>Store Name</th>
        <th>Street Address</th>
        <th>State</th>
        <th>Zip Code</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each stores}}
      <tr>

        <td>{{store_id}}</td>
        <td>{{store_name}}</td>
        <td>{{street_address}}</td>
        <td>{{state}}</td>
        <td>{{zip_code}}</td>
        <td><button form="{{this.store_id}}" value="Update">Update</button></td>
        <td><button form="{{this.store_id}}" value="Delete">Delete</button></td>

        {{!-- <td><form id="{{this.store_id}}">{{this.store_id}}</form></td>
        <td><input form="{{this.store_id}}" type="text" name="name" value="{{{this.name}}}" disabled></td>
        <td><input form="{{this.store_id}}" type="text" name="address" value="{{this.address}}" disabled></td>
        <td><input form="{{this.store_id}}" type="text" name="state" value="{{this.state}}" disabled></td>
        <td><input form="{{this.store_id}}" type="text" name="zipcode" value="{{this.zipcode}}" disabled></td>
        <td><button form="{{this.store_id}}" value="Update">Update</button></td>
        <td><button form="{{this.store_id}}" value="Delete">Delete</button></td> --}}
      </tr>
    {{/each}}

    </tbody>
  </table>
</html>
